body {
    margin: 0;
    padding: 0;
    background-color: #17a2b8;
    height: 100vh;
  }
 
.container {
    text-align: center;
    
    .coolQRCode {
       filter: drop-shadow(3px 3px 3px #999);
       img {
          width: 1000px;
          mask-repeat: repeat-x;
       }
    }
 }